@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  cursor: pointer;
}

.df {
  display: flex;
  align-items: center;
}

.dsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_links {
  display: none;
}

.header_nav {
  padding: 15px 10px;
}

.header_left {
  display: flex;
  gap: 8px;
}
.header_left .header_hamburger {
  border: none;
  background-color: inherit;
}
.header_left .header_select {
  border: none;
  outline: none;
  width: 15px;
}
.header_left .header_btn {
  background-color: inherit;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #184afb;
  border-radius: 10px;
  border: 1px solid #cccccc;
  padding: 8px 12px;
  font-family: "Michroma";
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
  text-align: left;
  text-transform: uppercase;
}

@media (min-width: 475px) {
  .nav_links {
    display: none;
  }
  .header_nav {
    padding: 15px 20px;
  }
  .header_left {
    display: flex;
    gap: 13px;
  }
  .header_left .header_hamburger {
    border: none;
    background-color: inherit;
  }
  .header_left .header_select {
    border: none;
    outline: none;
    width: 15px;
  }
  .header_left .header_btn {
    background-color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #184afb;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 10px 14px;
    font-family: "Michroma";
    font-size: 12px;
    font-weight: 300;
    line-height: 10px;
    text-align: left;
    text-transform: uppercase;
  }
}
@media (min-width: 575px) {
  .nav_links {
    display: none;
  }
  .header_nav {
    padding: 15px 20px;
  }
  .header_left {
    display: flex;
    gap: 13px;
  }
  .header_left .header_hamburger {
    border: none;
    background-color: inherit;
  }
  .header_left .header_select {
    border: none;
    outline: none;
  }
  .header_left .header_btn {
    background-color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #184afb;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 10px 14px;
    font-family: "Michroma";
    font-size: 12px;
    font-weight: 300;
    line-height: 10px;
    text-align: left;
    text-transform: uppercase;
  }
}
@media (min-width: 768px) {
  .nav_links {
    display: block;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .nav_links a {
    color: #828388;
    font-family: "poppins";
  }
  .header_nav {
    padding: 15px 20px;
  }
  .header_left {
    display: flex;
    gap: 13px;
  }
  .header_left .header_hamburger {
    border: none;
    background-color: inherit;
    display: none;
  }
  .header_left .header_select {
    border: none;
    outline: none;
  }
  .header_left .header_btn {
    background-color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #184afb;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 10px 14px;
    font-family: "Michroma";
    font-size: 12px;
    font-weight: 300;
    line-height: 10px;
    text-align: left;
    text-transform: uppercase;
  }
}
@media (min-width: 768px) {
  .nav_links {
    display: block;
    display: flex;
    align-items: center;
    gap: 25px;
  }
  .nav_links a {
    color: #828388;
    font-family: "poppins";
  }
  .header_nav {
    padding: 15px 20px;
  }
  .header_left {
    display: flex;
    gap: 19px;
  }
  .header_left .header_hamburger {
    border: none;
    background-color: inherit;
    display: none;
  }
  .header_left .header_select {
    border: none;
    outline: none;
  }
  .header_left .header_btn {
    background-color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #184afb;
    border-radius: 10px;
    border: 1px solid #cccccc;
    padding: 12px 16px;
    font-family: "Michroma";
    font-size: 16px;
    font-weight: 300;
    line-height: 13px;
    text-align: left;
    text-transform: uppercase;
  }
}
.hero {
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc;
}
.hero .hero_wrapper .hero_top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero .hero_wrapper .hero_title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #2e3038;
  text-transform: uppercase;
}
.hero .hero_wrapper .hero_top_left {
  color: #828388;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  text-align: left;
}
.hero .hero_img {
  padding-top: 15px;
  width: 100%;
}

@media (min-width: 678px) {
  .hero {
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
  }
  .hero .hero_wrapper .hero_top {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hero .hero_wrapper .hero_title {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #2e3038;
    text-transform: uppercase;
  }
  .hero .hero_wrapper .hero_top_left {
    color: #828388;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    text-align: left;
    width: 450px;
  }
  .hero .hero_img {
    padding-top: 15px;
    width: 100%;
  }
}
@media (min-width: 965px) {
  .hero {
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
  }
  .hero .hero_wrapper .hero_top {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hero .hero_wrapper .hero_title {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 550;
    line-height: 30px;
    text-align: left;
    color: #2e3038;
    text-transform: uppercase;
  }
  .hero .hero_wrapper .hero_top_left {
    color: #828388;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 350;
    line-height: 20px;
    text-align: left;
    width: 600px;
  }
  .hero .hero_img {
    padding-top: 15px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding-bottom: 40px;
    border-bottom: 1px solid #cccccc;
  }
  .hero .hero_wrapper .hero_top {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hero .hero_wrapper .hero_title {
    padding-top: 30px;
    padding-bottom: 15px;
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #2e3038;
    text-transform: uppercase;
  }
  .hero .hero_wrapper .hero_top_left {
    color: #828388;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    width: 650px;
  }
  .hero .hero_img {
    padding-top: 15px;
    width: 100%;
  }
}
.about .about_wrapper .about_circle {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 15px;
  gap: 8px;
}
.about .about_wrapper .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #184afb;
}
.about .about_wrapper .circle_text {
  font-family: Michroma;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #56585e;
}
.about .about_wrapper .about_title {
  font-family: "Poppins";
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  text-align: left;
  color: #2e3038;
}
.about .about_wrapper .about_text {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #828388;
}
.about .about_wrapper .about_btn {
  padding: 6px 24px;
  background-color: inherit;
  border-radius: 20px;
  border: 1px solid rgba(204, 204, 204, 0.8);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #184afb;
  margin-top: 10px;
}
.about .about_wrapper .about_img_wrapper {
  margin-top: 10px;
  padding: 30px;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
}
.about .about_wrapper .about_img_wrapper img {
  width: 200px;
  height: 200px;
}

@media (min-width: 475px) {
  .about .about_wrapper .about_circle {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 15px;
    gap: 8px;
  }
  .about .about_wrapper .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #184afb;
  }
  .about .about_wrapper .circle_text {
    font-family: Michroma;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #56585e;
  }
  .about .about_wrapper .about_title {
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 505;
    line-height: 35px;
    text-align: left;
    color: #2e3038;
  }
  .about .about_wrapper .about_text {
    width: 400px;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #828388;
  }
  .about .about_wrapper .about_btn {
    padding: 6px 24px;
    background-color: inherit;
    border-radius: 20px;
    border: 1px solid rgba(204, 204, 204, 0.8);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 350;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #184afb;
    margin-top: 10px;
  }
  .about .about_wrapper .about_img_wrapper {
    margin-top: 10px;
    padding: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
  }
  .about .about_wrapper .about_img_wrapper img {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 768px) {
  .about .about_wrapper .about_circle {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 15px;
    gap: 8px;
  }
  .about .about_wrapper .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #184afb;
  }
  .about .about_wrapper .circle_text {
    font-family: Michroma;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #56585e;
  }
  .about .about_wrapper .about_title {
    padding-top: 10px;
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 505;
    line-height: 35px;
    text-align: left;
    color: #2e3038;
  }
  .about .about_wrapper .about_text {
    padding-top: 20px;
    width: 400px;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #828388;
  }
  .about .about_wrapper .about_btn {
    padding: 6px 24px;
    background-color: inherit;
    border-radius: 20px;
    border: 1px solid rgba(204, 204, 204, 0.8);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 350;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #184afb;
    margin-top: 30px;
  }
  .about .about_wrapper .about_img_wrapper {
    margin-top: 10px;
    padding: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
  }
  .about .about_wrapper .about_img_wrapper img {
    width: 200px;
    height: 200px;
  }
  .about_left_wrapper {
    display: flex;
    gap: 90px;
  }
}
@media (min-width: 965px) {
  .about .about_wrapper .about_circle {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 15px;
    gap: 8px;
  }
  .about .about_wrapper .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #184afb;
  }
  .about .about_wrapper .circle_text {
    font-family: Michroma;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #56585e;
  }
  .about .about_wrapper .about_title {
    padding-top: 10px;
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 505;
    line-height: 35px;
    text-align: left;
    color: #2e3038;
  }
  .about .about_wrapper .about_text {
    padding-top: 20px;
    width: 400px;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #828388;
  }
  .about .about_wrapper .about_btn {
    padding: 6px 24px;
    background-color: inherit;
    border-radius: 20px;
    border: 1px solid rgba(204, 204, 204, 0.8);
    font-family: Poppins;
    font-size: 15px;
    font-weight: 350;
    line-height: 18px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #184afb;
    margin-top: 30px;
  }
  .about .about_wrapper .about_img_wrapper {
    margin-top: 10px;
    padding: 30px;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
  }
  .about .about_wrapper .about_img_wrapper img {
    width: 200px;
    height: 200px;
  }
  .about_left_wrapper {
    display: flex;
    gap: 200px;
  }
}
@media (min-width: 1200px) {
  .about_left_wrapper {
    display: flex;
    justify-content: space-between;
  }
  .about_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .about_title {
    padding-top: 10px;
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    color: #2e3038;
  }
  .about_text {
    padding-top: 20px;
    width: 400px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #828388;
  }
}
.maqsadimiz {
  margin-top: 30px;
}
.maqsadimiz .maqsadimiz_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.maqsadimiz .maqsadimiz_wrapper .maqsadimiz_main {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.maqsadimiz .maqsadimiz_wrapper .maqsadimiz_title {
  padding-top: 30px;
  width: 300px;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #2e3038;
}
.maqsadimiz .maqsadimiz_wrapper .maqsadimiz_main p {
  padding-top: 15px;
  width: 247px;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 350;
  line-height: 16px;
  color: #828388;
}
.maqsadimiz .maqsadimiz_wrapper .maqsadimiz_main_btn {
  margin-top: 14px;
  color: #184afb;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border-radius: 20px;
  padding: 6px 18px;
  border: 1px solid #CCCCCC;
  background-color: inherit;
}
.maqsadimiz .maqsadimiz_wrapper .maqsadimiz_card {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 300px;
  height: 300px;
  border: 1px solid #CCCCCC;
  border-radius: 12px;
}

@media (min-width: 768px) {
  .maqsadimiz {
    margin-top: 30px;
  }
  .maqsadimiz .maqsadimiz_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .maqsadimiz .maqsadimiz_wrapper .maqsadimiz_main {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .maqsadimiz .maqsadimiz_wrapper .maqsadimiz_title {
    padding-top: 30px;
    width: 350px;
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 630;
    line-height: 25px;
    color: #2e3038;
  }
  .maqsadimiz .maqsadimiz_wrapper .maqsadimiz_main p {
    padding-top: 19px;
    width: 310px;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 370;
    line-height: 16px;
    color: #828388;
  }
  .maqsadimiz .maqsadimiz_wrapper .maqsadimiz_main_btn {
    margin-top: 16px;
    color: #184afb;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 20px;
    padding: 6px 18px;
    border: 1px solid #CCCCCC;
    background-color: inherit;
  }
  .maqsadimiz .maqsadimiz_wrapper .maqsadimiz_card {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 300px;
    height: 300px;
    border: 1px solid #CCCCCC;
    border-radius: 12px;
  }
}
@media (min-width: 1200px) {
  .maqsadimiz {
    margin-top: 30px;
  }
  .maqsadimiz .maqsadimiz_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .maqsadimiz .maqsadimiz_wrapper .maqsadimiz_main {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .maqsadimiz .maqsadimiz_wrapper .maqsadimiz_title {
    padding-top: 30px;
    width: 350px;
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 630;
    line-height: 25px;
    color: #2e3038;
  }
  .maqsadimiz .maqsadimiz_wrapper .maqsadimiz_main p {
    padding-top: 19px;
    width: 310px;
    font-family: "Poppins";
    font-size: 15px;
    font-weight: 370;
    line-height: 16px;
    color: #828388;
  }
  .maqsadimiz .maqsadimiz_wrapper .maqsadimiz_main_btn {
    margin-top: 16px;
    color: #184afb;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border-radius: 20px;
    padding: 6px 18px;
    border: 1px solid #CCCCCC;
    background-color: inherit;
  }
  .maqsadimiz .maqsadimiz_wrapper .maqsadimiz_card {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 300px;
    height: 300px;
    border: 1px solid #CCCCCC;
    border-radius: 12px;
  }
}
.talim_circle {
  display: flex;
  align-items: center;
  gap: 8px;
}
.talim_circle .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #184afb;
}
.talim_circle .circle_text {
  font-family: "Michroma";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #56585e;
}

.talim_wrapper .talim_cards .talim_card {
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.8);
  max-width: 394px;
}
.talim_wrapper .talim_cards .talim_card .talim_card_text {
  max-width: 394px;
  padding-top: 15px;
  font-family: "Michroma";
  font-size: 12px;
  font-weight: 350;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(46, 48, 56, 0.6);
}

@media (min-width: 768px) {
  .talim_wrapper .talim_cards {
    display: grid;
    grid-template-columns: auto auto;
  }
  .talim_wrapper .talim_cards .talim_card {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.8);
    max-width: 394px;
  }
  .talim_wrapper .talim_cards .talim_card .talim_card_text {
    max-width: 394px;
    padding-top: 15px;
    font-family: "Michroma";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(46, 48, 56, 0.6);
  }
}
.about-circle {
  display: flex;
  align-items: center;
  gap: 8px;
}
.about-circle .circle {
  width: 20px;
  height: 20px;
  background-color: #184AFB;
  border-radius: 50%;
}
.about-circle h3 {
  font-family: "Michroma";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #56585E;
}

.team-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}
.team-header h2 {
  width: 432px;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 550;
  line-height: 52px;
}

span {
  width: 180px;
  height: 45px;
  background-color: transparent;
  align-items: center;
  display: flex;
  gap: 10px;
  padding-top: 8px 32px 8px 32px;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
}
span button {
  border: none;
  background-color: transparent;
  color: #184AFB;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  margin-left: 50px;
}

.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.team-member {
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  max-width: 300px;
  width: 100%;
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.team-member p {
  font-size: 14px;
  color: #666;
}

@media (max-width: 768px) {
  .team {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .team-header {
    font-size: 20px;
  }
  .team-member img {
    width: 120px;
    height: 120px;
  }
  .team-member h3 {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .team {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.footer {
  margin-top: 50px;
}
.footer .footer_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 0;
}
.footer .footer_wrapper .footer_left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer_wrapper .footer_links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer .footer_wrapper .footer_link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer_wrapper .footer_item a {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: "from-font";
  text-decoration-skip-ink: none;
  color: #56585e;
}
.footer .footer_right_card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;
  margin-bottom: 20px;
  gap: 30px;
}
.footer .footer_right_card .footer_right_little_card {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Michroma";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #56585e;
}
.footer .footer_right_card .footer_right_little_card p {
  display: none;
}
.footer .footer_bottom {
  display: none;
}

@media (min-width: 468px) {
  .footer {
    margin-top: 50px;
  }
  .footer .footer_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
  }
  .footer .footer_wrapper .footer_left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer_wrapper .footer_links {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .footer .footer_wrapper .footer_link {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer .footer_wrapper .footer_item a {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
    color: #56585e;
  }
  .footer .footer_right_card {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
    margin-bottom: 20px;
    gap: 30px;
  }
  .footer .footer_right_card .footer_right_little_card {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Michroma";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #56585e;
  }
  .footer .footer_right_card .footer_right_little_card p {
    display: block;
  }
  .footer .footer_bottom {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer {
    margin-top: 50px;
  }
  .footer .footer_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 0;
  }
  .footer .footer_wrapper .footer_left {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 50px;
  }
  .footer .footer_wrapper .footer_links {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .footer .footer_wrapper .footer_link {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer .footer_wrapper .footer_item a {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
    color: #56585e;
  }
  .footer .footer_right_card {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
    margin-bottom: 20px;
    gap: 30px;
  }
  .footer .footer_right_card .footer_right_little_card {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Michroma";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #56585e;
  }
  .footer .footer_right_card .footer_right_little_card p {
    display: block;
  }
  .footer .footer_bottom {
    display: none;
  }
}
@media (min-width: 965px) {
  .footer {
    margin-top: 50px;
  }
  .footer .footer_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
  .footer .footer_wrapper .footer_left {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 50px;
  }
  .footer .footer_wrapper .footer_links {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .footer .footer_wrapper .footer_link {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer .footer_wrapper .footer_item a {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
    color: #56585e;
  }
  .footer .footer_right_card {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
    margin-bottom: 20px;
    gap: 30px;
  }
  .footer .footer_right_card .footer_right_little_card {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Michroma";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #56585e;
  }
  .footer .footer_right_card .footer_right_little_card p {
    display: block;
  }
}
@media (min-width: 1200px) {
  .footer {
    margin-top: 50px;
  }
  .footer .footer_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
  .footer .footer_wrapper .footer_left {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 100px;
  }
  .footer .footer_wrapper .footer_links {
    display: flex;
    align-items: center;
    gap: 70px;
  }
  .footer .footer_wrapper .footer_link {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer .footer_wrapper .footer_item a {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
    color: #56585e;
  }
  .footer .footer_right_card {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
    margin-bottom: 20px;
    gap: 50px;
  }
  .footer .footer_right_card .footer_right_little_card {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Michroma";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #56585e;
  }
  .footer .footer_right_card .footer_right_little_card p {
    display: block;
  }
}