.maqsadimiz {
  .maqsadimiz_wrapper {
    .about_circle {
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      align-items: center;
      gap: 8px;
    }
    .circle {
      width: 20px;

      height: 20px;
      background-color: #184afb;
      border-radius: 50%;
    }

    .maqsadimiz_title {
      font-family: "Poppins";
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #2e3038;
      text-transform: uppercase;
    }

    .maqsadimiz_card {
      border: none;
      border-radius: 8px;
      background-color: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      padding: 5px;
      width: 310px;
      .maqsadimiz_img {
        width: 250px;
        height: 250px;
      }
    }

    .maqsadimiz_text {
      font-family: "Michroma";
      font-size: 8px;
      font-weight: 300;
      line-height: 14px;
      letter-spacing: 0.01em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      max-width: 526px;
    }
    ._maqsadimiz_text_btn {
      padding: 8px 12px;
      border: none;
      background-color: inherit;
      margin-left: 15px;
    }
    .span {
      max-width: 610px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      border-bottom: 1px solid #cccccc;
      padding-bottom: 5px;
      margin-bottom: 7px;
    }
  }
}

@media (min-width: 768px) {
  .maqsadimiz {
    .maqsadimiz_wrapper {
      .about_circle {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        gap: 8px;
      }
      .circle {
        width: 20px;

        height: 20px;
        background-color: #184afb;
        border-radius: 50%;
      }

      .maqsadimiz_title {
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #2e3038;
        text-transform: uppercase;
      }

      .maqsadimiz_card {
        border: none;
        border-radius: 8px;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        padding: 5px;
        width: 310px;
        .maqsadimiz_img {
          width: 250px;
          height: 250px;
        }
      }

      .maqsadimiz_text {
        font-family: "Michroma";
        font-size: 12px;
        font-weight: 350;
        line-height: 14px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        max-width: 526px;
      }
      ._maqsadimiz_text_btn {
        padding: 8px 12px;
        border: none;
        background-color: inherit;
        margin-left: 15px;
      }
      .span {
        max-width: 610px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 5px;
        margin-bottom: 7px;
      }
    }
  }
  .maqsadimiz_wrapper_bottom {
    display: flex;
    gap: 20px;
  }
  .maqsadimiz_wrapper_bottom_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .maqsadimiz {
    .maqsadimiz_wrapper {
      .about_circle {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        gap: 8px;
      }
      .circle {
        width: 20px;

        height: 20px;
        background-color: #184afb;
        border-radius: 50%;
      }

      .maqsadimiz_title {
        padding-top: 10px;
        padding-bottom: 50px;
        font-family: "Poppins";
        width: 432px;
        font-size: 40px;
        font-weight: 600;
        line-height: 52px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #2e3038;
        text-transform: uppercase;
      }

      .maqsadimiz_card {
        border: none;
        border-radius: 8px;
        background-color: #f5f5f5;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        padding: 5px;
        width: 310px;
        .maqsadimiz_img {
          width: 250px;
          height: 250px;
        }
      }

      .maqsadimiz_text {
        font-family: "Michroma";
        font-size: 12px;
        font-weight: 350;
        line-height: 14px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        max-width: 526px;
      }
      ._maqsadimiz_text_btn {
        padding: 8px 12px;
        border: none;
        background-color: inherit;
        margin-left: 15px;
      }
      .span {
        max-width: 610px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 5px;
        margin-bottom: 7px;
      }
    }
  }
  .maqsadimiz_wrapper_bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .maqsadimiz_wrapper_bottom_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .maqsadimiz_h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
