.maqsadimiz {
  margin-top: 30px;
  .maqsadimiz_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .maqsadimiz_main {
      display: flex;
      align-items: start;
      flex-direction: column;
    }
    .maqsadimiz_title {
      padding-top: 30px;
      width: 300px;
      font-family: "Poppins";
      font-size: 20px;
      font-weight: 600;
      line-height: 25px;
      color: #2e3038;
    }
    .maqsadimiz_main p {
      padding-top: 15px;
      width: 247px;
      font-family: "Poppins";
      font-size: 12px;
      font-weight: 350;
      line-height: 16px;

      color: #828388;
    }
    .maqsadimiz_main_btn {
      margin-top: 14px;
      color: #184afb;
      font-family: "Poppins";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.01em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      border-radius: 20px;
      padding: 6px 18px;
      border: 1px solid #CCCCCC;
      background-color: inherit;
    }
    .maqsadimiz_card{
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 300px;
      height: 300px;
      border: 1px solid #CCCCCC;
      border-radius: 12px;
    }
  }
}


@media (min-width:768px) {
  .maqsadimiz {
    margin-top: 30px;
    .maqsadimiz_wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .maqsadimiz_main {
        display: flex;
        align-items: start;
        flex-direction: column;
      }
      .maqsadimiz_title {
        padding-top: 30px;
        width: 350px;
        font-family: "Poppins";
        font-size: 26px;
        font-weight: 630;
        line-height: 25px;
        color: #2e3038;
      }
      .maqsadimiz_main p {
        padding-top: 19px;
        width: 310px;
        font-family: "Poppins";
        font-size: 15px;
        font-weight: 370;
        line-height: 16px;
  
        color: #828388;
      }
      .maqsadimiz_main_btn {
        margin-top: 16px;
        color: #184afb;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        border-radius: 20px;
        padding: 6px 18px;
        border: 1px solid #CCCCCC;
        background-color: inherit;
      }
      .maqsadimiz_card{
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 300px;
        height: 300px;
        border: 1px solid #CCCCCC;
        border-radius: 12px;
      }
    }
  }
}
@media (min-width:1200px) {
  .maqsadimiz {
    margin-top: 30px;
    .maqsadimiz_wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      .maqsadimiz_main {
        display: flex;
        align-items: start;
        flex-direction: column;
      }
      .maqsadimiz_title {
        padding-top: 30px;
        width: 350px;
        font-family: "Poppins";
        font-size: 26px;
        font-weight: 630;
        line-height: 25px;
        color: #2e3038;
      }
      .maqsadimiz_main p {
        padding-top: 19px;
        width: 310px;
        font-family: "Poppins";
        font-size: 15px;
        font-weight: 370;
        line-height: 16px;
  
        color: #828388;
      }
      .maqsadimiz_main_btn {
        margin-top: 16px;
        color: #184afb;
        font-family: "Poppins";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        border-radius: 20px;
        padding: 6px 18px;
        border: 1px solid #CCCCCC;
        background-color: inherit;
      }
      .maqsadimiz_card{
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 300px;
        height: 300px;
        border: 1px solid #CCCCCC;
        border-radius: 12px;
      }
    }
  }
}