.talim_circle {
  display: flex;
  align-items: center;
  gap: 8px;
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #184afb;
  }
  .circle_text {
    font-family: "Michroma";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #56585e;
  }
}
.talim_wrapper {
  .talim_cards {
    
    .talim_card {
      margin-top: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid #CCCCCCCC;
      max-width: 394px;
      .talim_card_text {
        max-width: 394px;
        padding-top: 15px;
        font-family: "Michroma";
        font-size: 12px;
        font-weight: 350;
        line-height: 16px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #2E303899;
      }
    }
  }
}

@media (min-width:768px) {
  .talim_wrapper {
    .talim_cards {
        display: grid;
        grid-template-columns: auto auto;
      .talim_card {
        margin-top: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #CCCCCCCC;
        max-width: 394px;
        .talim_card_text {
          max-width: 394px;
          padding-top: 15px;
          font-family: "Michroma";
          font-size: 16px;
          font-weight: 400;
          line-height: 16px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #2E303899;
        }
      }
    }
  }
}
